@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('scroll.css');

:root {
    --bg-color: #f1ede4;
    --text-color: #e50030;
}


html {
    /* 
    * box-sizing
    * default: 'box-sizing: content-box'
    * @see: https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing 
    */
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body{
    font-family: Source Code Pro, sans-serif;
    min-height: 100%;
    display: grid;
    grid-template:
        "header header header header header" 80px
        "img img info info info" 50%
        "up up up up up" auto
        "footer footer footer footer footer" 10% 
        / 1fr 1fr 1fr 1fr 1fr;
    gap: 1px;
    /* mobile. Tamaño mínimo recomendado */
    font-size: 25px;
    line-height: 1.4em;
    background-color: var(--bg-color);
}

/* Laptop / Tablet */
@media (min-width: 768px) {
    body {
        font-size: 20px;
    }
}

/* Escritorio */
@media (min-width: 1024px) {
    body {
      font-size: 28px;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: Oxanium, sans-serif;
    color: var(--text-color);
    margin: 0;
}
/* Header style*/
header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 1em;
    border: #000000, solid, 3px;
}

header nav ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
ul li {
    display: inline;
    margin: 0 1em;
}

/* main style*/
main {
    grid-area: info;
    border: #000000, solid, 3px;

}

/*update style */
#update{
    grid-area: up;
    background-color: #dba21f;
    border: #000000, solid, 3px;

}

/*footer style*/
footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    border: #000000, solid, 3px;

}